.App {
  text-align: center;
  background-color: black;
  font-family: 'Kalam', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cate{
  background-color: black;
}


.home{
  background-color: black;
}

input{
  outline: none;
  border: none;
}


.ab{
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 0px red;
  background-color: red;
  transition: all 1s;
  color: white;
}

.ab:hover{
  box-shadow: 0px 0px 10px red,  0px 0px 50px red ,0px 0px 80px red  ;
  transform: scale(1.2,1.2);
}



.shop {
  cursor: pointer;
  font-weight: 700;
  font-family: 'Kalam', cursive;
  transition: all .2s;
  padding: 10px 20px;
  text-align: center;
  background: pink;
  color: black;
  border: 1px solid transparent;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 200px;
  transition: all 1s;
}

.shop:hover {
  box-shadow: 0px 0px 10px pink,  0px 0px 50px pink ,0px 0px 80px pink ;
  color: black;
}

.shop > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.shop:hover svg {
  transform: translateX(5px);
}

.shop:active {
  transform: scale(0.95);
}


.hoo{
  transition: all 0.6s;
}


.hoo:hover{
  transform: scale(1.3,1.3);
  cursor: pointer;
}


.bg{
  background: url('../src/photo/b1g.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}


.bg2{
  background: url('../src/photo/bg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}



.bg3{
  background: url('../src/photo/shop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}


.bg4{
  background: url('../src/photo/bg4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
 

